# Ignore node_modules directory
# This directory contains all the npm packages and dependencies for the project
/node_modules/

# Ignore build output directory
# This directory is where the compiled code and assets are stored after running the build process   
/dist/


# Ignore Visual Studio Code extensions
# These files are packaged extensions for Visual Studio Code and are not needed in the repository
*.vsix

#Ignore the logs folder that contains local test only
logs/

#Ignore the vscode test
.vscode-test/